if loadfont $prefix/font.pf2 ; then
  set gfxmode=800x600
  set gfxpayload=keep
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod gfxterm
  insmod png
  terminal_output gfxterm
fi

if background_image /isolinux/splash.png; then
  set color_normal=light-gray/black
  set color_highlight=white/black
elif background_image /splash.png; then
  set color_normal=light-gray/black
  set color_highlight=white/black
else
  set menu_color_normal=cyan/blue
  set menu_color_highlight=white/blue
fi

insmod play
play 960 440 1 0 4 440 1
set theme=/boot/grub/theme/1
menuentry --hotkey=1 'Install ca1.at.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca1.at.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=2 'Install ca2.at.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca2.at.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=3 'Install ca3.at.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca3.at.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=4 'Install fe1.at.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe1.at.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=5 'Install fe2.at.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe2.at.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=6 'Install fe3.at.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe3.at.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry  'Install ca1.pr.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca1.pr.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry  'Install ca2.pr.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca2.pr.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry  'Install ca3.pr.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca3.pr.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry  'Install fe1.pr.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe1.pr.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry  'Install fe2.pr.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe2.pr.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry  'Install fe3.pr.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe3.pr.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=1 'Install ca1.st.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca1.st.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=2 'Install ca2.st.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca2.st.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=3 'Install ca3.st.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-ca3.st.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=4 'Install fe1.st.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe1.st.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=5 'Install fe2.st.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe2.st.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}

menuentry --hotkey=6 'Install fe3.st.crtsrv.se' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 --- quiet  auto=true file=/cdrom/isolinux/preseed-fe3.st.crtsrv.se.cfg
    initrd   /install.amd/initrd.gz
}


submenu --hotkey=a 'Advanced options ...' {
    set menu_color_normal=cyan/blue
    set menu_color_highlight=white/blue
    set theme=/boot/grub/theme/1-1
    set gfxpayload=keep
    menuentry '... Graphical expert install' {
        set background_color=black
        linux    /install.amd/vmlinuz priority=low vga=788 ---
        initrd   /install.amd/gtk/initrd.gz
    }
    menuentry '... Graphical rescue mode' {
        set background_color=black
        linux    /install.amd/vmlinuz vga=788 rescue/enable=true --- quiet
        initrd   /install.amd/gtk/initrd.gz
    }
    menuentry '... Graphical automated install' {
        set background_color=black
        linux    /install.amd/vmlinuz auto=true priority=critical vga=788 --- quiet
        initrd   /install.amd/gtk/initrd.gz
    }
    menuentry --hotkey=x '... Expert install' {
        set background_color=black
        linux    /install.amd/vmlinuz priority=low vga=788 ---
        initrd   /install.amd/initrd.gz
    }
    menuentry --hotkey=r '... Rescue mode' {
        set background_color=black
        linux    /install.amd/vmlinuz vga=788 rescue/enable=true --- quiet
        initrd   /install.amd/initrd.gz
    }
    menuentry --hotkey=a '... Automated install' {
        set background_color=black
        linux    /install.amd/vmlinuz auto=true priority=critical vga=788 --- quiet
        initrd   /install.amd/initrd.gz
    }
    submenu --hotkey=s '... Speech-enabled advanced options ...' {
        set menu_color_normal=cyan/blue
        set menu_color_highlight=white/blue
        set theme=/boot/grub/theme/1-1-1
        set gfxpayload=keep
        menuentry --hotkey=x '... Expert speech install' {
            set background_color=black
            linux    /install.amd/vmlinuz priority=low vga=788 speakup.synth=soft ---
            initrd   /install.amd/gtk/initrd.gz
        }
        menuentry --hotkey=r '... Rescue speech mode' {
            set background_color=black
            linux    /install.amd/vmlinuz vga=788 rescue/enable=true speakup.synth=soft --- quiet
            initrd   /install.amd/gtk/initrd.gz
        }
        menuentry --hotkey=a '... Automated speech install' {
            set background_color=black
            linux    /install.amd/vmlinuz auto=true priority=critical vga=788 speakup.synth=soft --- quiet
            initrd   /install.amd/gtk/initrd.gz
        }
    }
}
submenu --hotkey=d 'Accessible dark contrast installer menu ...' {
    set menu_color_normal=white/black
    set menu_color_highlight=yellow/black
    set color_normal=white/black
    set color_highlight=yellow/black
    background_image
    set theme=/boot/grub/theme/dark-1-2
    set gfxpayload=keep
    menuentry --hotkey=g '... Graphical install' {
        set background_color=black
        linux    /install.amd/vmlinuz vga=788 theme=dark --- quiet
        initrd   /install.amd/gtk/initrd.gz
    }
    menuentry --hotkey=i '... Install' {
        set background_color=black
        linux    /install.amd/vmlinuz vga=788 theme=dark --- quiet
        initrd   /install.amd/initrd.gz
    }
    submenu --hotkey=a '... Advanced options ...' {
        set menu_color_normal=white/black
        set menu_color_highlight=yellow/black
        set color_normal=white/black
        set color_highlight=yellow/black
        background_image
        set theme=/boot/grub/theme/dark-1-2-1
        set gfxpayload=keep
        menuentry '... Graphical expert install' {
            set background_color=black
            linux    /install.amd/vmlinuz priority=low vga=788 theme=dark ---
            initrd   /install.amd/gtk/initrd.gz
        }
        menuentry '... Graphical rescue mode' {
            set background_color=black
            linux    /install.amd/vmlinuz vga=788 rescue/enable=true theme=dark --- quiet
            initrd   /install.amd/gtk/initrd.gz
        }
        menuentry '... Graphical automated install' {
            set background_color=black
            linux    /install.amd/vmlinuz auto=true priority=critical vga=788 theme=dark --- quiet
            initrd   /install.amd/gtk/initrd.gz
        }
        menuentry --hotkey=x '... Expert install' {
            set background_color=black
            linux    /install.amd/vmlinuz priority=low vga=788 theme=dark ---
            initrd   /install.amd/initrd.gz
        }
        menuentry --hotkey=r '... Rescue mode' {
            set background_color=black
            linux    /install.amd/vmlinuz vga=788 rescue/enable=true theme=dark --- quiet
            initrd   /install.amd/initrd.gz
        }
        menuentry --hotkey=a '... Automated install' {
            set background_color=black
            linux    /install.amd/vmlinuz auto=true priority=critical vga=788 theme=dark --- quiet
            initrd   /install.amd/initrd.gz
        }
    }
}
menuentry --hotkey=s 'Install with speech synthesis' {
    set background_color=black
    linux    /install.amd/vmlinuz vga=788 speakup.synth=soft --- quiet
    initrd   /install.amd/gtk/initrd.gz
}
